.Navbtn {
  margin-right: 30px;
  position: relative;
  font-size: 1em;





  font-family: "Fauna One"
}

.Navcontainer {
  margin-right: center;
  position: relative;
  background-color: #c8d8e4;
  color: #2b6777;
  padding: 3px;
  font-size: .7em;
  text-align: center;
  font-family: "Fauna One", sans-serif;
  bottom: 0px
}

.Navcontainer a {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(8, 8, 1);
}