@import url("https://fonts.googleapis.com/css?family=Bilbo&effect=fire-animation");
@import url("https://fonts.googleapis.com/css?family=Festive");
@import url("https://fonts.googleapis.com/css?family=Yomogi");
@import url("https://fonts.googleapis.com/css?family=Tourney");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Oswald");

.App {
  margin: 0 auto;
  text-align: left;
  font-size: .75em;
  color: rgba(57, 16, 78, 0.925);


}

.thinkingof {
  text-align:left;
  position: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(57, 16, 78, 0.925);
  font-family: "Oswald", sans-serif;
  
}

.thinkingofbox {
  
  padding: 10px;
  top: 25px;
  background-color: rgb(245, 241, 240);
  color: rgb(91, 44, 160);
  width: 260px;
  left: px;
  right: 8px;
  margin: 0;
  font-size: .8em;
  font-weight: bold;
  box-sizing: border-box;
  transition: .7s ease;
  position: right;
  border-radius: 10px;
  margin-left: 28px;
  font-family: "Oswald";
}


.ulremovebullets {
  list-style-type: none;
}

.info {
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(189, 60, 60);
  text-align: center;
  font-family: "Playfair Display";

}

.submitfill {
  background-color: #eb991e;
  min-height: 2vh
}

.container {
  background-color: #eb991e;
  min-height: 100vh;
  border: none !important;

  font-size: calc(10px + 2vmin);
  color: rgb(224, 224, 224);
  font-family: "Lato";
  margin-bottom: -25px;
  

}

.result-info {
  font-size: .80em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(57, 16, 78, 0.925);
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;

}

result-page {
  font-size: .20em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(57, 16, 78, 0.925);
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  position: static
}






.title {
  position: relative;
  background-color: rgb(189, 60, 60);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  text-align: center;

  font-family: "Bilbo";

}

.question {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(57, 16, 78, 0.925);
  font-family: "Oswald", sans-serif;

}

.questionBox {


  border: 1px solid rgba(226, 56, 56, 0.699);
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(189, 60, 60);
  border-radius: 10px;
  margin-right: 40px
}

.answers {
  display: inline-block;



}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(67, 24, 223);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper-class input[type="radio"] {
  width: 15px;
}

.wrapper-class label {
  display: inline;
  margin-left: 5px;
}


.homesurveychoicebtn {
  position: bottom center;
  font-size: 1.0em;
  padding: 0px;
  top: 350px;
  background-color: rgb(139, 33, 18);
  color: rgb(242, 240, 245);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
  font-family: "Playfair Display";
  white-space: normal;
  word-wrap: break-word;
  display: in
}

.subbtn {
  position: bottom center;
  font-size: 1.0em;
  padding: 10px;
  top: 350px;
  background-color: rgb(139, 33, 18);
  color: rgb(242, 240, 245);
  width: 150px;
  left: 0px;
  right: 0px;
  margin-top: -60px;
  outline: none;
  cursor: pointer;
  font-family: "Playfair Display";
  white-space: normal;
  word-wrap: break-word;
  border-radius: 10px;
}

.subbuttonform {
  
  font-size: 1.0em;
  padding: 5px;
  
  
  
  color: rgb(242, 240, 245);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  
  cursor: pointer;
  font-family: "Playfair Display";
  
  
  margin-top : 24px;
  

}
.lapsubbuttonform {
  
  font-size: 1.0em;
  padding: 5px;
  
  
  
  color: rgb(242, 240, 245);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  
  cursor: pointer;
  font-family: "Playfair Display";
  
  
  margin-top : -24px;
  

}

/* position: relative;
background-color: rgb(189, 60, 60);
color: rgb(255, 255, 255);
padding: 20px;
font-size: 1.8em;
text-align: center;

font-family: "Bilbo"; */



.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(228, 14, 14);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, hsl(0, 92%, 48%), #eccb0c, hsl(0, 92%, 48%), #eccb0c, hsl(0, 92%, 48%), #eccb0c, hsl(0, 92%, 48%), #eccb0c, hsl(0, 92%, 48%));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(231, 27, 27)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(145, 23, 23);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
};

